<%= notice %>

<%= form_with(model: @post, local:true, url: new_or_edit) do |form| %>
  
  <% if @post.errors.any? %>
    <div>
    	<h2><%= @post.errors.count%> error(s).</h2>
    	<ul>
    		<% @post.errors.full_messages.each do |msg| %>
    		  <li><%= msg %></li>
    		<% end %>
    	</ul>
    </div>
  <% end %>

  <div class="new_post">
  	<%= form.text_area :content %>
  </div>
 
  <%= form.submit "Post" %>

<% end %>

<%= link_to 'show all the post', posts_path %>