<h3>Post with the following content</h3>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>Content: <%= @post.content %></p>
  <%= form.submit "Post" %>
  <%= form.submit "Return", name: 'back' %>
<% end %>