<h1>Posts</h1>

<%= notice %>

<% @posts.each do |post| %>
  <table>
      <tr>
        <td><%= post.content %></td>
        <td><%= link_to 'show detail', post_path(post.id) %></td>
        <td><%= link_to 'edit', edit_post_path(post.id) %> </td>
        <td><%= link_to 'delete', post_path(post.id), method: :delete %> </td>
      </tr>
  </table>
<% end %>

<%= link_to 'create a new post', new_post_path %>
